﻿body {
    background: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}
.currentLink {
    color: #00FF00;
    text-decoration: underline;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}
button {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    color: #1c1c1c;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
input {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 180px;
    height: max-content;
    padding: 10px;
    background: white;
    font-size: large;
    color: black;
}

#clear {
    background-color: rgb(172, 32, 32);
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    padding: 10px;
    /* border: 1px solid #00FF00; */
    width: max-content;
}
#list-item {
    width: max-content;
    padding: 0;
}
#list-item li {
    list-style-type: none;
    padding: 0;
}
#list-item input, .setting {
    width: max-content;
    margin-right: 10px;
}
