* {
    font-family: sans-serif;
}
body {
    background-color: plum;
}
table {
    margin: 0 auto;
    background-color: grey;
    padding-right: 100px;
}

thead {
    font-size: 1.5em;
    font-weight: 100;
}

td {
    vertical-align: top;
}

td:first-child {
    color: honeydew;
    font-style: italic;
}
.span1::before {
    display: inline-block;
    content: "";
    color: transparent;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-radius: 5px;
    background-color: rgb(89, 201, 89);
}

.span1::after {
    display: block;
    content: "No Active Support";
    font-weight: bold;
    color: rgb(255, 55, 55);
    margin-top: 5px;
}

.span2::after {
    display: block;
    content: "Link to public post";
    color: rgb(253, 253, 158);
    margin-top: 15px;
}

.yellow {
    color: rgb(253, 253, 158);
}
.grey {
    color:rgb(180, 180, 180);
    font-style: normal;
}
.orange {
    color: orange;
    font-weight: bold;
}