body {
    background-color: black;
}
.container {
    background: rgb(88, 86, 86);
    padding: 0 20px 30px;
    position: relative;
    width: 700px;
    margin: 0 auto;
    border-radius: 20px;
}
.head {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
}
.head img {
    margin-right: 10px;
    cursor: pointer;
}
input {
    margin: 0 10px;
    padding: 5px;
    color: black;
}
button {
    padding: 5px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.shadow {
    width: 100%;
}
h1 {
    color: orange;
}
p {
    color: rgb(163, 163, 163);
}