button {
    margin: 30px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 75px;
}

.HaA:hover {
    cursor: pointer;
    animation: btn 2s 0s  linear  infinite;
}

.HaA:active {
    background: linear-gradient(45deg ,red 15%, orange 30%, yellow 40%, greenyellow 50%, lightseagreen 60%, rgb(36, 36, 250) 70%, purple 80%);
}

@keyframes btn {
    0% {
        transform: rotate();
    }
    100% {
        transform: rotate(360deg);
    }
}

:lang(ru){
    max-width: 300px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/1280px-Flag_of_Russia.svg.png") 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
:lang(fr) {
    max-width: 300px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png") 50% 50%;
    background-size: cover;
    border: 1px solid black;
}

a:visited {
    color: tomato;
    background: violet;
}
textarea {
    margin: 0 auto;
}
textarea::first-line {
    color: rgb(85, 52, 233);
}

div {
    display: flex;
    justify-content: center;
}

a::before {
    display: inline-block;
    content: "";
    border: 10px solid black;
    border-radius: 10px;
    border-left-color: orange;
    border-right-color: orange;
    transform: rotate(45deg);
    vertical-align: middle;
    margin: 10px;
}
a::after{
    display: inline-block;
    content: "";
    border: 10px solid black;
    border-radius: 10px;
    border-left-color: orange;
    border-right-color: orange;
    transform: rotate(-45deg);
    vertical-align: middle;
    margin: 10px;
}