* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    margin: 0 auto;
    padding: 5px;
    margin-top: 30px;
    width: 500px;
    border: 1px solid rgb(73, 73, 73);
    border-top-left-radius: 50px;
    box-shadow: 5px 5px 10px rgb(83, 83, 83);
    background: linear-gradient(-45deg, rgb(65, 65, 66), rgb(176, 166, 196), rgb(65, 65, 66) ) ;
}
.value {
    text-align: right;
    background: linear-gradient(-60deg, rgb(86, 31, 189), rgb(132, 94, 202), rgb(86, 31, 189) ) ;
    border-top-left-radius: 50px;
}
td {
    /* transition: all 2s ease; */
    text-align: center;
    background: linear-gradient(-60deg, rgb(44, 111, 236), rgb(93, 136, 216), rgb(44, 111, 236) ) ;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all;
}

input {
    transition: all 0.4s e;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(-60deg, rgb(44, 111, 236), rgb(93, 136, 216), rgb(44, 111, 236) ) ;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.button:hover, td:hover {
    cursor: pointer;
    background: linear-gradient(-60deg, rgb(29, 60, 202), rgb(94, 128, 202), rgb(29, 60, 202) ) ;
}
.button:active {
    background: linear-gradient(-60deg, rgb(22, 48, 161), rgb(81, 83, 207), rgb(22, 48, 161) ) ;
}