body {
    position: relative;
}

#winWindow {
    position: absolute;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: max-content;
    height: max-content;
    top: 100%;
    left: 40%;
    border: 1px solid black;
    border-radius: 10px;
}

#winWindow h3 {
    text-align: center;
    font-size: 36px;
    margin: 0;
}
#winWindow input {
    background-color: white;
    margin: 10px;
}

#leaderboard {
    position: relative;
    position: absolute;
    top: 100%;
    left: 40%;
    max-width: max-content;
    padding: 10px 20px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 100px max-content;
    border: 1px solid black;
    border-radius: 10px;
}
#leaderboard button {
    width: max-content;
    padding: 3px 10px;
    border-radius: 100%;
    color: white;
    font-size: large;
    background-color: rgb(194, 23, 23);
    position: absolute;
    left: 85%;
    top: 1%;
}

#trueNum {
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 90%;
}