button {
    width: max-content;
    padding: 10px;
    display: inline-block;
    height: 50px;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(172, 172, 172);
}
#console p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#console #div-container {
    position: relative;
    padding: 200px;
    /* border: 1px solid #00FF00; */
    border-radius: 200px;
}
#console .ball {
    position: absolute;
    padding: 20px;
    border-radius: 20px;
}

.input-container {
    width: max-content;
    border: 1px solid #00FF00;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}