* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}
h1 {
    font-size: 24px;
    margin: 15px 0;
}
.container {
    margin: 30px auto;
    padding: 5px;
    display: grid;
    width: 1200px;
    grid-template-columns: 20% 60% 18%;
    background: rgb(224, 224, 224);
}
ul {
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none;
}
h2 {
    color: white;
    font-size: 16px;
    background: grey;
    padding: 2px;
}
a {
    color: brown;
}
hr {
    margin: 8px 0;
}
/* Home */
ul>:first-child {
    color: brown;
    font-weight: bolder;
}

.home::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    /* background-color: brown; */
    background: url("https://i.pinimg.com/originals/56/dc/5f/56dc5fedd8c10f6aa5d717fa9ea04565.png") center /  cover no-repeat;
    vertical-align: sub;
}
/* Tutorial */
.tutorial {
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid grey;
}
.tutorial div p{
    margin: 15px 0;
}
.tutorial div {
    margin-bottom: 15px;
}
.tutorial button span {
    text-align: center;
}
.tutorial button {
    position: relative;
    width: 120px;
    background: whitesmoke;
}
.prev::before {
    position: absolute;
    top: 20%;
    left:0px;
    content: "";
    display: inline-block;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}
.next::after {
    position: absolute;
    top: 20%;
    right: 0%;
    content: "";
    display: inline-block;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    margin-left: 30px;
}
/* tutorial tut */
.tut {
    display: flex;
}
.tut img {
    width: 150px;
    float: left;
    margin: 10px;
}
.tut p {
    margin: 15px 0;
    font-weight: bold;
}
/* Nav */
.nav h2 {
    margin-bottom: 7px;
}

.nav .search input {
    width: 70%;
    padding: 5px;
    padding-top: 7px;
}

.nav .search button {
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px blue;
    font-weight: 700;
    font-size: 18px;
    width: 15%;
}

.nav li {
    display: block;
    text-align: center;
    margin: 3px;
    background: white;
    border: 1px solid gray;
    border-radius: 2px ;
    padding-bottom: 5px;
}
.nav a {
    display:block;
}
.nav li>a {
    padding-top: 3px;
}
.style-btn {
    width: 70%;
    padding: 10px;
    color: rgb(0, 238, 255);
    background: linear-gradient(90deg, rgb(151, 205, 250) 0%,  rgb(221, 240, 253) 5%, rgb(221, 240, 253) 95%, rgb(151, 205, 250) 100% );
    font-size: 22px;
    border: 0.5px solid rgb(59, 142, 219);
    box-shadow: 0px 0px 2px rgb(79, 168, 252);
    margin: 2px;
}