* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
.container {
    background: rgb(199, 199, 199);
    width: 500px;
    padding: 15px;
    margin: 30px auto;
    border-radius: 20px;
}
.item {
    padding: 10px;
    margin: 15px;
    background-color: honeydew;
    border: 1px solid gray;
}
.rock-img {
    width: 150px;
    height: 95px;
    margin-right: 15px;
    float: left;
    border: 1px solid gray;
    vertical-align: bottom;
}
p+.btn {
    margin-left: 100px;
}
.btn {
    position: relative;
    width: 70px;
    z-index: 3;
    height: 15px;
    border: none;
    cursor: pointer;
}
.bg_img {
    position: absolute;
    width: 100%;
    top: -70%;
    left: 0;
    z-index: 0;
}
span {
    position: absolute;
    z-index:5;
    top: 0;
    left:20%;
    color: white;
    -webkit-text-stroke:0.5px rgb(129, 129, 129);
}