﻿body {
    background: black;
    color: white;
    font-family: Verdana;
}
#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
    color: #00FF00;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}
.currentLink {
    color: #00FF00;
    text-decoration: underline;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}
header+p {
    width: 600px;
    margin-left: 30px;
}
button {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 192px;height: 30px;
    padding-left: 0px;
    color: #1c1c1c;
    cursor: pointer;
}
input {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 180px;height: 25px;
    padding-left: 10px
    ;background: #282828;
    color: #e0e0e0;
}

div {
    padding: 5px;
}
div.newDiv {
    display: inline-block;
    background: #15ff00;
    margin-top: 10px;
    margin-left: 3px;
    color: black;
    border-radius: 5px;
}
#reg {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
}
.line-container {
    display: inline-block;
    width: max-content;
    border: 1px solid #15ff00;
    margin-bottom: 15px;
    padding: 0;
}
.line-container h3, .line-container h2{
    padding: 0;
    margin: 0;
}
.line-container h2 {
    text-align: center;
    border-bottom: 1px solid #15ff00;
    padding: 3px;
}
.line-container input {
    width: 50px;
}
#clear {
    background-color: rgb(172, 32, 32);
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.obj-container {
    width: max-content;
    border: 1px solid #15ff00;
    margin-bottom: 15px;
    padding: 0;
}
.obj-container h2 {
    padding: 0 10px;
}
.obj-container #addField {
    width: 75px;
}
.obj-container input {
    width: 100px;
    margin-right: 10px;
}

select {
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 3px;
}