
p {
    font-family: "Consolas";
    color: #0094ff;
    max-width: 600px;
}

p::first-line {
    font-weight:bold ;
}

p::first-letter {
    font-family: "Edwardian";
    font-style: italic;
    font-size: 40px;
}

@font-face {
    font-family: "Consolas";
    src: url("./consolas/Consolas.ttf");
}
@font-face {
    font-family: "Edwardian";
    src: url("./Edwardian/edwardianscriptitc.ttf");
}