.clearfix {
    zoom: 1;
    &::before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &::after{
        clear: both;
        @extend .clearfix::before;
    }
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}

$bg:background;
$clr:color;
$f:float;
$clrFl:clear;

@mixin bgColor ($value) {
    #{$bg}-color: $value;
}

@mixin bgGrad ($deg, $color1, $prct1, $color2, $prct2, $pos, $style, $rep) {
    #{$bg}: linear-gradient( $deg, $color1 $prct1, $color2 $prct2) $pos / $style $rep;
}

@mixin indent ($type, $top, $right, $bottom, $left) {
    #{$type}-top: $top;
    #{$type}-right: $right;
    #{$type}-bottom: $bottom;
    #{$type}-left: $left;
}

@mixin clrF ($value) {
    #{$clrFl}: $value;
}

body {
    @extend .clearfix;
    font: 14px normal Arial;
    #{$clr}: white;
    @include bgGrad (180deg, white,  -10%, rgb(147, 48, 212), 15%, center, cover, no-repeat);

    header{
        @extend .clearfix;
        @include indent(padding, 25px, 15px, 5px, 15px);

        div#header-container {
            @extend .clearfix;
            &::after {
                @extend  .clearfix::after;
            }
            &::before {
                @extend  .clearfix::before;
            }
            div#logo-container {
                #{$f}: left;
                position: relative;
            }
            div#reg-form-container{
                #{$f}: right;
                position: relative;
                right: 5%;
                top: 50%;
                div {
                    text-align: right;
                    label {
                        width: 50px;
                        margin: 5px;
                    }
                    input {
                        width: 130px;
                        #{$clr}: white;
                        border: 1px solid #603382;
                        @include bgColor(#a156d3);
                        border-radius: 10px;
                        padding: 2px 5px;
                        margin: 5px;
                    }
                }
                button {
                    #{$clr}: white;
                    margin-left: auto;
                    margin-right: auto;
                    font-weight: bold;
                    border: 1px solid rgb(167, 167, 167);
                    @include bgColor(#b36ce2);
                    border-style: outset;
                    border-radius: 10px;
                    padding: 5px 15px;
                    &:hover {
                        @include bgColor(#8949b9);
                        border-style: inset;
                    }
                }
            }
        }
        nav { 
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 2px solid black;
            border-radius: 15px;
            &::after {
                @extend  .clearfix::after;
            }
            &::before {
                @extend  .clearfix::before;
            }
            ul {
                @extend .clearfix;
                &::after {
                    @extend  .clearfix::after;
                }
                &::before {
                    @extend  .clearfix::before;
                }
                &.nav-list {
                    list-style-type: none;
                }
                li {
                    #{$f}: left;
                    margin: 0;
                    a {
                        text-decoration: none;
                        padding: 0 10px 0 10px;
                        #{$clr}: white;
                        font: 1.4em normal Arial;
                        &.selected {
                            font-weight: bold;
                        }
                    }
                    &:hover > a {
                        text-decoration: underline;
                        #{$clr}: #a8a8a8;
                        ul {
                            display: block;
                        }
                    }
                    ul.sub-nav-list {
                        @extend .clearfix;
                        position: absolute;
                        display: none;
                        @include bgColor(rgba(179, 94, 243, 0.9));
                        border-radius: 5px;
                        &::after {
                            @extend  .clearfix::after;
                        }
                        &::before {
                            @extend  .clearfix::before;
                        }
                    }
                    ul li {
                        #{$f}: none;
                        margin: 0 15px;
                        padding: 10px 0;
                        border-bottom: 1px solid black;
                        &:last-of-type {
                            border-bottom: none;
                        }
                        > a {
                            font-size: 1.2em;
                            #{$clr}: #fff;
                        }
                    }
                }
            }
        }
    }
    section {
        @extend .clearfix;
        width: 75%;
        #{$f}: left;
        #{$clr}: white;
        &::after {
            @extend  .clearfix::after;
        }
        &::before {
            @extend  .clearfix::before;
        }
        article {
            margin: 20px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
            header {
                background: none;
                padding: 5px;
                h1 {
                    font-size: 1.4em;
                    padding: 0;
                }
            }
            footer {
                padding: 5px;
                p {
                    font-size: 16px;
                    text-align: right;
                    font-weight: normal;
                    time {
                        font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    }
                    a {
                        text-decoration: none;
                        #{$clr}: rgb(107, 13, 107);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    aside {
        @extend .clearfix;
        #{$f}: left;
        width: 20%;
        margin: 20px;
        &::after {
            @extend  .clearfix::after;
        }
        &::before {
            @extend  .clearfix::before;
        }
        > ul {
            list-style-type: none;
            > li {
                margin: 15px 0;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
                h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }
                p {
                    @include indent(margin, 10px, 5px, 10px, 5px);
                    font-size: 14px;
                    a {
                        #{$clr}: #aaaaaa;
                        text-decoration: none;
                    }
                    strong {
                        #{$clr}: #cccccc;
                        font-weight: bold;
                        font-style: normal;
                    }
                    em {
                        #{$clr}: #cccccc;
                        font-weight: normal;
                        font-style: italic;
                    }
                }
                ul {
                    list-style-type: none;
                    @include indent(margin, 10px, 0px, 10px, 0px);
                    li {
                        @include indent(margin, 5px, 0px, 0px, 10px);
                        background: url(images/li-dot.png) no-repeat;
                        background-position: 0 50%;
                        padding-left: 25px;
                    }
                }
            }
        }
    }
    footer {
        @include clrF (both);
        @include indent(padding, 15px, 0px, 25px, 0px);
        p {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }
    }
}
