
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
body {
    background-color: skyblue;
}
a {
    font-size: 22px;
    color: rgb(0, 156, 253);
}
th {
    border-bottom: 3px solid black;
}
legend, div, span {
    font-size: 17px;
}

thead {
    text-align: center;
}
img {
    width: 110px;
}
p {
    text-align: center;
    margin-top: 10px;
}

fieldset {
    display:flex;
    padding: 10px;
    flex-wrap: nowrap;
    margin: 5px;
    border: 3px solid black;
}
legend {
    text-align: center;
    padding: 0px 5px;
}
div {
    display: inline-block;
    align-self: flex-end;
}
.range {
    display: block;
    margin-bottom: 30px;
}

#table1 {
    border: 3px solid black;
    border-radius: 5px;
    margin: 30px auto;
    background-color: white;
}
#table2 {
    border: 3px solid black;
    margin: 10px;
}
.rangeTd {
    padding-right: 10px;
}
input {
    width: 160px;
}