* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
}
body {
    background: black;
}
span {
    margin-right: 15px;
}
.container {
    margin: 30px auto;
    background: #1C3543;
    border: 1px solid #00868F;
    border-radius: 8px;
    padding-right: 30px;
    width: 600px;
}
header {
    padding: 10px;
}
button {
    width: max-content;
    padding: 8px;
    color: #819DB4;
    background: #4A5D67;
    border: none;
    cursor: pointer;
    margin: -1.5px;
}
button:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px;
    color: rgb(187, 187, 187);
    border-bottom: 0.5px solid #00868F;
    cursor: pointer;
    /* width: 37.4%; */
}
ul :first-child {
    border-top: 0.5px solid #00868F;
}
ul :last-child {
    border-bottom: transparent;
}
main {
    /* display: flex; */
}
li:hover {
    background: #00868F;
    color: white;
    transition: all 0.4s ease-in;
}
img {
    float: right;
    width: 60%;
    margin-left: 10px;
}