
* {
    font-family: calibri;
}
#calc-icon {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

#calc-icon::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 16px;
    margin-right: 3px;
    margin-bottom: 3px;
    vertical-align: bottom;
    background: url("https://icon-library.com/images/windows-7-calculator-icon/windows-7-calculator-icon-1.jpg") center / cover no-repeat;
    vertical-align: top;
}
/* div1 */
.div1 {
    margin: 0 auto;
    width: 425px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    background: linear-gradient(180deg, rgb(210, 230, 250) 20%, #ACCEF4 21%);
}

.menu {
    background: linear-gradient(180deg, rgb(255, 255, 255) 20%, #D8E3F2 45%, rgb(225, 232, 241) 70% );
    padding-left: 5px;
    font-size: 14px;
    word-spacing: 10px;
}
.menu_word:hover {
    cursor: pointer;
}
.menu_letter {
    text-decoration: underline 1px;
}
/* menu_buttons */
.buttons {
    position: absolute;
    top: -1px;
    right: -5px;
    display:flex;
    width: 100px;
}
.button {
    display: inline-block;
    border: 1px solid gray;
    height: 15px;
    width: 30px;
    position: relative;
}
.button:hover {
    cursor: pointer;
}
.minimize, .expand {
    background:linear-gradient(180deg, rgb(221, 230, 235) 49%, rgb(198, 212, 231) 50%);
}
#minimize, #expand, #close {
    color: white;
    -webkit-text-stroke: 0.5px black;
    position: absolute;
}
.minimize {
    border-bottom-left-radius: 5px;
}
#minimize {
    font-family: "Imagine";
    top: -15%;
    left: 35%;
    font-size: 18px;
}
#expand {
    top: 25%;
    left: 35%;
    color: rgb(235, 235, 235);
    -webkit-text-stroke: 0.5px rgb(172, 172, 172);
    font-family: "Imagine";
    font-size: 12px;
}
.close {
    background:linear-gradient(180deg, rgba(236, 191, 191, 0.438) 49%, rgba(223, 108, 79, 0.479) 50%, white 190%),  radial-gradient(rgb(255, 0, 0), rgb(27, 11, 11) 160%);
    border-bottom-right-radius: 5px;
}

#close {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 5%;
    left: 35%;
    font-weight: bolder;
    font-size: 9px;
}


/* div2 */
.div2 {
    border: 1px solid black;
}

.table1 {
    background:linear-gradient(180deg, white -20%, #D8E3F2 60%);
    border-top: 1px solid black;
    padding: 5px;
    color: rgb(56, 111, 148);
}

.table1 td{
    background: linear-gradient(180deg, rgb(242, 246, 248) 40%, rgb(222, 233, 248) 60%);
    border: 1.5px solid gray;
    border-radius: 3px;
    position: relative;
    text-align: center;
    width: 30px;
}

.row1 div, .row2 div{
    text-align: left;
}
.table1  .row1, .table1  .row2, .table1  .row1:hover, .table1  .row2:hover {
    width: 80px;
    background: transparent;
    border: 1.5px solid gray;
}

.num td:hover {
    background: linear-gradient(180deg, rgb(255, 237, 237) 49%, rgb(247, 225, 104) 50%, white 130%);
    border: 1.5px solid gold ;
    cursor: pointer;
}

.table1 .disabled {
    background: transparent;
    border: 1.5px solid rgb(167, 167, 167);
}
.table1 .letter {
    border-color: rgb(214, 214, 214);
}
.table1 .empty:hover {
    background: transparent;
    border: 1.5px solid rgb(167, 167, 167);
    cursor: default;
}
 /* logic panel */
.logic-container {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13% 9%; 
    text-align: left;
    padding: 5px;
}

.logic-container div:last-child, .logic-container div:nth-child(8) {
    text-align: right;
}

.logic-container div {
    display: inline-block;
    font-family: "Consolas";
    cursor: default;
}

#logic {
    background: transparent;
}

#logic span {
    color: gray;
    font-family: "Consolas";
}
/* screen */
#screen {
    color: black;
    box-sizing: border-box;
    text-align: right;
    vertical-align: bottom;
    height: 50px;
    font-weight: 500;
    font-family: "Consolas";
    font-size: 22px;
    padding: 5px;
    background: linear-gradient(0deg,white 0%, rgb(217, 223, 226) 100% );
}

.num .number {
    background: linear-gradient(180deg,white 40%, rgb(245, 252, 255) 60% )
}
/* label */
label {
    cursor: pointer;
}

@font-face {
    font-family: "Imagine";
    src: url("./imagine.ttf");
}
@font-face {
    font-family: "Elecstrom";
    src: url("./Elecstrom.ttf");
}