*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: 20% 80%;
    background: #212022;

    &_img {
        overflow-y: scroll;
        label {
            display: inline-block;
            margin:  10px 15px 10px;
            cursor: pointer;
            input {
                display: none;
            }
            .img {
                width: 100%;
                display: block;
                &:hover {
                    border: 1px solid gray;
                }
            }
            .img-th {
                display: none;
                position: fixed;
                top: 12vh;
                right: 10vw;
                width: 60vw;
                height: 80vh;
            }
            input:checked ~ .img-th, input:checked ~ a {
                display: block;
            }
            a {
                display: none;
                position: fixed;
                font-size: 14px;
                top: 94vh;
                right: 30vw;
                color:white
            }
        }
    }
    &_gallery {
        padding: 10px 30px;
        color: white;
        font-size: 3vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}


