* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  margin: 0 auto;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  background: #212022;
}

.container_img {
  overflow-y: scroll;
}

.container_img label {
  display: inline-block;
  margin: 10px 15px 10px;
  cursor: pointer;
}

.container_img label input {
  display: none;
}

.container_img label .img {
  width: 100%;
  display: block;
}

.container_img label .img:hover {
  border: 1px solid gray;
}

.container_img label .img-th {
  display: none;
  position: fixed;
  top: 12vh;
  right: 10vw;
  width: 60vw;
  height: 80vh;
}

.container_img label input:checked ~ .img-th, .container_img label input:checked ~ a {
  display: block;
}

.container_img label a {
  display: none;
  position: fixed;
  font-size: 14px;
  top: 94vh;
  right: 30vw;
  color: white;
}

.container_gallery {
  padding: 10px 30px;
  color: white;
  font-size: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*# sourceMappingURL=style.css.map */