<body style="background-color: skyblue;">
    <header>
        <h1>Doge Social Network</h1>
        <ul type="disk">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./profile.html">Profile</a></li>
            <li><a href="./friends.html">Friends</a></li>
        </ul>
    </header>
    <main>
        <hr>
        <h2>Friends of Doge</h2>
        <hr>
        <dl>
            <dt><i>Such Friend</i></dt>
            <dd>best friend</dd>

            <dt><i>Many friend</i></dt>
            <dd>unknows</dd>

            <dt><i>Wow</i></dt>
            <dd>yeah, right</dd>
        </dl>
    </main>
</body>