.list-item li {
    display: none;
    color: grey;
    margin: 0;
}
ul {
    padding-left: 5px;
    width: max-content;
    cursor: pointer;
}
.list-item:hover li, .list-item:hover li {
    display: block;
}
.list-item:hover::first-line {
    text-decoration: underline;
}