
th, td {
    border: 1px solid rgb(187, 186, 186);
}

button {
    border-radius: 3px;
}


.btn {
    height: 20px;
    width: 20px;
    padding: 3px;
    border: 1px solid rgb(192, 191, 191);
    background: url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/filter-512.png") 50% 50% no-repeat;
    background-size: 15px;
}

.btn:hover {
    cursor: pointer;
}

thead, tfoot{
    background: linear-gradient(rgb(255, 254, 254), rgb(195, 211, 224));
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: small
}

tbody {
    background: rgb(238, 244, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small
}
.inpBtn {
    margin-right: 5px;
    border: none;
    background-color: transparent;
}
.inpBtn:hover {
    cursor: pointer;
}
.inpBtn:active {
    border: 1px solid orange;
    border-radius: 3px;
}

input {
    border: 1px solid rgb(192, 191, 191);
    border-radius: 3px;
}

.navigation {
    border: 1px solid rgb(192, 191, 191);
}

.navigation:hover {
    cursor: pointer;
}
.navigation:active, .btn:active {
    border: 1px solid black;
} 
#first {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3j17M6gBLNujfaQIkyVezAW1nLkkZr4M1tYYAnGOuCgCqPEQg25YNLW7d_mXGLlUXs2k&usqp=CAU") 50% 50% no-repeat;
    background-size:20px;
}

#prev {
    background: url("https://iconvulture.com/wp-content/uploads/2017/12/left-arrow.png") 50% 50% no-repeat;
    background-size:12px;
}

#next {
    background: url("https://www.vippng.com/png/detail/356-3563960_media-play-symbol-play-button-black-png.png") 50% 50% no-repeat;
    background-size:10px;
}
#last {
    background: url("https://cdn-icons-png.flaticon.com/512/61/61175.png") 50% 50% no-repeat;
    background-size:10px;
}

#first, #prev, #next, #last {
    color: transparent;
}