* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table {
    margin: 30px auto;
    border-bottom: 1px solid grey;
}

thead {
    background-color: rgb(139, 201, 47);
}

thead td {
    color: honeydew;
    border-top:1px solid grey;
    border-bottom: 1px solid grey ;
}

td {
    padding: 8px;
    border-right: 1px solid grey;
    padding-right: 50px;
}

td:first-child {
    border-left: 1px solid grey;
}

tr:nth-child(even) {
    background-color: rgb(236, 236, 236);
}

.flag::before{
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.germany::before {
    background-image: url("https://www.publicdomainpictures.net/pictures/250000/nahled/german-flag.jpg");
}
.mexico::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/1280px-Flag_of_Mexico.svg.png");
}
.uk::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/320px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png");
}